<%= form_for(@prompt) do |f| %>
  <% if @prompt.errors.any? %>
    <div id="error_explanation" class="form-group">
      <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

      <ul>
      <% @prompt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :body, class: 'sr-only' %>
    <%= f.text_area :body, placeholder: "Tell us what you know—or what you don't!", class: 'form-control' %>
  </div>

  <h3>Optional...</h3>

  <%# TODO: Should this be a form_tag? %>
  <div class="form-group">
    <label for="prompt[concept_list]" class="sr-only">Concepts</label>
    <input type="text" name="prompt[concept_list]" class="form-control" placeholder="List concepts...">
  </div>

  <div class="form-group">
    <label for="prompt[character_list]" class="sr-only">Characters</label>
    <input type="text" name="prompt[character_list]" class="form-control" placeholder="List characters...">
  </div>


  <div class="form-group">
    <%= f.attachinary_file_field :photos, label: 'Upload Attachment' %>
  </div>

  <%# TODO: can this/should this be DRYer? More flexible? %>
  <% if @prompt_id %>
    <div class="form-group">
      <%= f.hidden_field :prompt_id, value: @prompt_id, class: 'form-control' %>
    </div>
  <% end %>

  <% if @concept_id %>
    <div class="form-group">
      <%= f.hidden_field :concept_id, value: @concept_id, class: 'form-control' %>
    </div>
  <% end %>

  <% if @character_id %>
    <div class="form-group">
      <%= f.hidden_field :character_id, value: @character_id, class: 'form-control' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-submit' %>
  </div>
<% end %>
