<ul class="<%= 'prompt-list' if prompt.responses.present? %>">
  <li>
    <%= link_to prompt.body, prompt %>
    <%= render partial: 'prompts/concepts_and_characters', locals: { prompt: prompt } %>
    <%= render partial: 'prompts/respond', locals: { prompt: @prompt } %>
    <ul class="response-list">
      <% prompt.responses.each do |response| %>
        <li><%= render partial: 'prompts/prompt', locals: { prompt: response } %></li>
      <% end %>
    </ul>
  </li>
</ul>
