<div class="panel-group" id="accordion-<%= prompt.id %>">
  <div class="panel panel-default single-blog timeline">
    <div class="panel-heading post-content overflow">
      <h2 class="post-title bold">
        <%= link_to prompt.body, prompt %>
      </h2>

      <h3 class="post-author">
        <%= link_to uncollect_path(prompt), method: 'delete', remote: true do %>
          <i id="bookmark-<%= prompt.id %>" class="fa fa-bookmark"></i>
        <% end %>
        <%= link_to "By #{prompt.user.username}", prompt.user %>
      </h3>
      <% if prompt.image.present? %>
        <a data-parent="#accordion-<%= prompt.id %>" data-toggle="collapse" href="#collapse<%= prompt.id %>2">
          Toggle image
          <span class="fa fa-camera-retro"></span>
        </a>
      <% end %>

      <%= render partial: 'prompts/concepts_and_characters', locals: { prompt: prompt } %>

      <%= render partial: 'prompts/respond', locals: { prompt: prompt } %>

    </div>

    <a data-parent="#accordion-<%= prompt.id %>" data-toggle="collapse" href="#collapse<%= prompt.id %>">
      <div class="panel-footer overflow">
        <span class="post-date pull-left">
          <i class="fa fa-clock-o"></i>
          <%= time_ago_in_words prompt.created_at %>
          ago
        </span>

        <span class="comments-number pull-right">
          <%= pluralize prompt.responses.count, 'response' %>
          <% if prompt.responses.present? %>
          <i class="fa fa-angle-down"></i>
          <% end %>
        </span>
      </div>
    </a>
    <div class="panel-collapse collapse out" id="collapse<%= prompt.id %>">
      <div class="panel-body">
        <%= render prompt.responses %>
      </div>
    </div>
    <% if prompt.image.present? %>
    <div class="panel-collapse collapse in" id="collapse<%= prompt.id %>2">
      <div class="panel-body">
        <%= cl_image_tag(prompt.image.path, { size: '400x400', crop: :fit }) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
