<div class="panel-group" id="accordion-<%= prompt.id %>">
  <div id="prompt-<%= prompt.id %>" class="panel panel-default single-blog timeline">
    <div class="panel-heading post-content overflow">
      <h2 class="post-title bold">
        <%= link_to prompt.body, prompt %>
      </h2>

      <h3 class="post-author">
        <%# TODO: Hella refactor %>
        <% if current_user != prompt.user %>
          <% if current_user.collected_prompts.include? prompt %>
            <%= link_to uncollect_path(prompt), method: 'delete', remote: true do %>
              <i id="bookmark-<%= prompt.id %>" class="fa fa-bookmark"></i>
            <% end %>
          <% else %>
            <%= link_to collect_path(prompt), method: 'post', remote: true do %>
              <i id="bookmark-<%= prompt.id %>" class="fa fa-bookmark-o"></i>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to "By #{prompt.user.username}", prompt.user %>
      </h3>

      <% if prompt.image.present? %>
        <a data-parent="#accordion-<%= prompt.id %>" data-toggle="collapse" href="#collapse2<%= prompt.id %>">
          Toggle image
          <span class="fa fa-camera-retro"></span>
        </a>
      <% end %>

      <%= render partial: 'prompts/concepts_and_characters', locals: { prompt: prompt } %>

      <% if prompt.responders.exclude? current_user %>
        <%= render partial: 'prompts/respond', locals: { prompt: prompt } %>
      <% end %>
    </div>
    <%= render partial: 'prompts/prompt_footer', locals: { prompt: prompt } %>
  </div>
</div>
