<p>
  <%= prompt.body %>
  <%= link_to 'Edit', edit_prompt_path(prompt) %> |
  <%= link_to 'Show', prompt %>

  <form class="" action="<%= new_prompt_path %>" method="get">
    <input type="hidden" value="<%= prompt.id %>" name="prompt_id">
    <input type="submit" value="Respond to this prompt">
  </form>

  <% unless prompt.responses.empty? %>
    <ul>
      <li><%= render prompt.responses %></li>
    </ul>
  <% end %>
</p>
