<div class="single-blog timeline">
  <div class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to prompt.body, prompt %>
    </h2>

    <h3 class="post-author">
      <a href="#">By <%= prompt.user.username %></a>
    </h3>

    <%= render partial: 'prompts/concepts_and_characters', locals: { prompt: prompt } %>

    <%= render partial: 'prompts/respond', locals: { prompt: prompt } %>


    <div class="post-bottom overflow">
      <span class="post-date pull-left">
        <i class="fa fa-clock-o"></i>
        <%= time_ago_in_words prompt.created_at %> ago
      </span>

      <span class="comments-number pull-right">
        <%= link_to prompt do %>
          <%= pluralize prompt.responses.count, 'response' %>
        <% end %>
      </span>
    </div>
  </div>
</div>
