<div class="single-blog timeline">
  <div id="prompt-<%= prompt.id %>" class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to prompt.body, prompt %>
    </h2>

    <h3 class="post-author">
      <%# TODO: Refactor %>
      <% if current_user != prompt.user %>
        <% if current_user.collected_prompts.include? prompt %>
          <%= render partial: 'collections/uncollect', locals: { prompt: prompt } %>
        <% else %>
          <%= render partial: 'collections/collect', locals: { prompt: prompt } %>
        <% end %>
      <% end %>
      <%= link_to "By #{prompt.user}", prompt.user %>
    </h3>

    <%= render partial: 'prompts/concepts_and_characters', locals: { prompt: prompt } %>

    <% if prompt.responders.exclude? current_user %>
      <%= render partial: 'prompts/respond', locals: { prompt: prompt } %>
    <% end %>
    <%= render partial: 'prompts/single_prompt_footer', locals: { prompt: prompt } %>
  </div>
</div>
