<div class="single-blog timeline">
  <div id="prompt-<%= prompt.id %>" class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to prompt.body, prompt %>
    </h2>

    <h3 class="post-author">
      <% if user_signed_in? %>
        <% if current_user.collected_prompts.include?(prompt) %>
            <%= link_to uncollect_path(prompt), method: 'delete', remote: true do %>
            <i id="bookmark-<%= prompt.id %>" class="fa fa-bookmark"></i>
            <% end %>
        <% else %>
          <%= link_to collect_path(prompt), method: 'post', remote: true do %>
            <i id="bookmark-<%= prompt.id %>" class="fa fa-bookmark-o"></i>
            <% end %>
        <% end %>
        <%= link_to "By #{prompt.user}", prompt.user %>
      <% end %>
    </h3>

    <%= render partial: 'prompts/concepts_and_characters', locals: { prompt: prompt } %>

    <% if prompt.responders.exclude? current_user %>
      <%= render partial: 'prompts/respond', locals: { prompt: prompt } %>
    <% end %>

    <%= render partial: 'prompts/single_prompt_footer', locals: { prompt: prompt } %>
  </div>
</div>
