<p id="notice"><%= notice %></p>

<h1>Listing Prompts</h1>

<table>
    <% @prompts.each do |prompt| %>
      <tr>
        <td><%= prompt.body %></td>
        <td><%= link_to 'Show', prompt %></td>
        <td>
          <%= render partial: 'respond', locals: { prompt: prompt } %>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Prompt', new_prompt_path %>
