<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @prompt.body %>
</p>

<%= link_to 'Edit', edit_prompt_path(@prompt) %> |
<%= link_to 'Back', prompts_path %> |

<p>
<form class="" action="<%= new_prompt_path %>" method="get">
  <input type="hidden" value="<%= @prompt.id %>" name="prompt_id">
  <input type="submit" value="Respond to this prompt">
</form>
</p>
