<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :username, class: 'sr-only' %><br />
    <%= f.text_field :username, placeholder: 'Username', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'sr-only' %><br />
    <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'sr-only' %><br />
    <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'sr-only' %><br />
    <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', class: 'form-control' %>
  </div>

<% if user_signed_in? %>
  <div class="form-group">
    <%= f.label :bio, class: 'sr-only' %><br />
    <%= f.text_area :bio, placeholder: 'Tell us more about you', class: 'form-control' %>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-submit' %>
  </div>
<% end %>
