<div class="single-blog timeline">
  <div class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to user, user %>
    </h2>

    <h3 class="post-author">
      <%= link_to user_path(user) do %>
        Joined <%= time_ago_in_words user.created_at %> ago
      <% end %>
    </h3>

    <p>
      <%= user.bio %>
    </p>

    <% if user_signed_in? %>
      <div class="text-right">
        <%= mail_to user.email, class: 'btn btn-common' do %>
          <i class="fa fa-envelope-o"></i>
        <% end %>
      </div>
    <% end %>

    <div class="post-bottom overflow">
      <% if user.prompts.any? %>
        <span class="post-date pull-left">
          <i class="fa fa-clock-o"></i>
          <%= link_to prompt_path(user.prompts.last) do %>
            Posted <%= time_ago_in_words user.prompts.last.created_at %> ago
          <% end %>
        </span>
      <% end %>

      <span class="comments-number pull-right">
        <%= link_to user do %>
          Contributed <%= pluralize user.prompts.count, 'prompt' %>
          <% if user.concepts.any? %>
            , <%= pluralize user.concepts.count, 'concept' %>
          <% end %>
          <% if user.characters.any? %>
            , <%= pluralize user.characters.count, 'character' %>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</div>
