<div class="single-blog timeline">
  <div class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to user.username, user %>
    </h2>

    <h3 class="post-author">
      <%# TODO: Add in the associated user %>
      <a href="/users/<%= user.id %>">Joined <%= time_ago_in_words user.created_at %></a>
    </h3>

    <p>
      <%= user.bio %>
    </p>

    <%# TODO: Does this make sense? %>
    <%# render partial: 'users/new_prompt', locals: { user: user } %>

    <div class="post-bottom overflow">
      <span class="post-date pull-left">
        <i class="fa fa-clock-o"></i>

        <a href="/prompt/<%= user.prompts.last.id %>">Posted <%= time_ago_in_words user.prompts.last.created_at %> ago</a>

      </span>

      <span class="comments-number pull-right">
        <%# link_to user do %>
          <%# pluralize user.prompts.count, 'mention' %>
        <%# end %>
      </span>
    </div>
  </div>
</div>
