<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1><%= @user.username %></h1>
      </div>
      <div class="tab-container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs" id="tab1">
              <li class="active">
                <a data-toggle="tab" href="#tab1-item1">BIO</a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab1-item2">CONCEPTS</a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab1-item3">PROMPTS</a>
              </li>
                <li>
                    <a data-toggle="tab" href="#tab1-item4">
                      <i class="fa fa-bookmark"></i>
                      COLLECTION
                    </a>
                </li>
                <% if current_user == @user %>
                <li>
                  <%= link_to edit_user_path(@user) do %>
                    EDIT
                    <i class="fa fa-pencil-square-o"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to @user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    DELETE
                    <i class="fa fa-remove"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active in" id="tab1-item1">
                <p><%= @user.bio ? @user.bio : 'Add a bio!' %></p>
              </div>
              <div class="tab-pane fade" id="tab1-item2">
                <%= render partial: 'users/concepts', locals: { user: @user } %>
              </div>
              <div class="tab-pane fade" id="tab1-item3">
                <h3 class="text-center">
                  <%= pluralize @user.prompts.count, 'prompt' %> created
                </h3>
                <div id="accordion-container">
                  <% @user.prompts.each do |prompt| %>
                    <%= render partial: 'prompts/prompt', locals: { prompt: prompt }  %>
                  <% end %>
                </div>
              </div>
              <div class="tab-pane fade" id="tab1-item4">
                <h3 id="collection_count" class="text-center">
                  <%= pluralize @user.collected_prompts.count, 'prompt' %> collected
                </h3>
                <div id="accordion-container">
                  <% @user.collected_prompts.each do |prompt| %>
                    <%= render partial: 'prompts/prompt', locals: { prompt: prompt }  %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
