<div class="single-blog timeline">
  <div class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to character.name, character %>
    </h2>

    <% if character.user %>
    <h3 class="post-author">
      <a href="#">By <%= character.user.username %></a><br>
    </h3>
    <% end %>

    <%# TODO: Create an editable bio for each character? %>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <%= render partial: 'characters/new_prompt', locals: { character: character } %>

    <div class="post-bottom overflow">
      <span class="post-date pull-left">
        <i class="fa fa-clock-o"></i>
        <% if character.prompts.any? %>
          <%= time_ago_in_words character.prompts.last.created_at %> ago
        <% else %>
          <%= time_ago_in_words character.created_at %> ago
        <% end %>
      </span>

      <span class="comments-number pull-right">
        <%= link_to character do %>
          <%= pluralize character.prompts.count, 'mention' %>
        <% end %>
      </span>
    </div>
  </div>
</div>
