<div class="single-blog timeline">
  <div class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to character.name, character %>
    </h2>

    <% if character.user %>
    <h3 class="post-author">
      <a href="/users/<%= character.user.id %>">By <%= character.user.username %></a><br>
    </h3>
    <% end %>

    <p>
      <%= character.bio %>
    </p>

    <%= render partial: 'characters/new_prompt', locals: { character: character } %>

    <div class="post-bottom overflow">
      <span class="post-date pull-left">
        <i class="fa fa-clock-o"></i>
        <% if character.prompts.any? %>
          <%= time_ago_in_words character.prompts.last.created_at %> ago
        <% else %>
          <%= time_ago_in_words character.created_at %> ago
        <% end %>
      </span>

      <span class="comments-number pull-right">
        <%= link_to character do %>
          <%= pluralize character.prompts.count, 'mention' %>
        <% end %>
      </span>
    </div>
  </div>
</div>
