<div class="single-blog timeline">
  <div class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to concept.name, concept %>
    </h2>

    <h3 class="post-author">
      <%# TODO: Add in the associated user %>
      <a href="#">First mentioned by a user</a>
    </h3>

    <%# TODO: Create an editable bio for each concept? %>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <%= render partial: 'concepts/new_prompt', locals: { concept: concept } %>

    <div class="post-bottom overflow">
      <span class="post-date pull-left">
        <i class="fa fa-clock-o"></i>
        <%= time_ago_in_words concept.prompts.last.created_at %> ago
      </span>

      <span class="comments-number pull-right">
        <%= link_to concept do %>
          <%= pluralize concept.prompts.count, 'mention' %>
        <% end %>
      </span>
    </div>
  </div>
</div>
