<div class="single-blog timeline">
  <div class="post-content overflow">
    <h2 class="post-title bold">
      <%= link_to concept, concept %>
    </h2>
    <% if concept.user %>
      <h3 class="post-author">
        <a href="/users/<%= concept.user.id %>">Posted by <%= concept.user.username %></a>
      </h3>
    <% end %>

    <p>
      <%= concept.overview %>
    </p>

    <%= render partial: 'concepts/new_prompt', locals: { concept: concept } %>

    <div class="post-bottom overflow">
      <span class="post-date pull-left">
        <i class="fa fa-clock-o"></i>
        <% if concept.prompts.present? %>
          <%= time_ago_in_words concept.prompts.last.created_at %> ago
        <% end %>
      </span>

      <span class="comments-number pull-right">
        <%= link_to concept do %>
          <%= pluralize concept.prompts.count, 'mention' %>
        <% end %>
      </span>
    </div>
  </div>
</div>
