<p id="notice"><%= notice %></p>

<h1>Listing Concepts</h1>

<table>
    <% @concepts.each do |concept| %>
      <tr>
        <td><%= concept.to_s %></td>
        <td><%= link_to 'Show', concept %></td>
        <td><%= link_to 'Edit', edit_concept_path(concept) %></td>
        <td><%= link_to 'Destroy', concept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <%= render partial: 'concepts/new_prompt', locals: { concept: concept } %>
        </td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Concept', new_concept_path %>
