<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1><%= @concept %></h1>
      </div>
      <div class="tab-container">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs" id="tab1">
              <li class="active">
                <a data-toggle="tab" href="#tab1-item1" class="uppercase">Overview</a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab1-item2" class="uppercase">Characters</a>
              </li>
              <li>
                <a data-toggle="tab" href="#tab1-item3" class="uppercase">Prompts</a>
              </li>
              <li>
                <%= link_to edit_concept_path(@concept), class: 'uppercase' do %>
                  Edit
                  <i class="fa fa-pencil-square-o"></i>
                <% end %>
              </li>
              <li>
                <%= link_to @concept, method: :delete, data: { confirm: 'Are you sure?' }, class: 'uppercase' do %>
                  Delete
                  <i class="fa fa-remove"></i>
                <% end %>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active in" id="tab1-item1">
                <p><%= @concept.overview %></p>
              <% if @concept.user %>
              <h3 class="post-author">
                <a href="/users/<%= @concept.user.id %>">First referenced by <%= @concept.user.username %></a><br>
              <h3>
              <% end %>
              </div>
              <div class="tab-pane fade" id="tab1-item2">
                <%= render partial: 'concepts/characters', locals: { concept: @concept } %>
              </div>
              <div class="tab-pane fade" id="tab1-item3">
                <h3 class="text-center">
                  <%= pluralize @concept.prompts.count, 'related prompt' %>
                </h3>
                <div id="accordion-container">
                  <% @concept.prompts.each do |prompt| %>
                    <%= render partial: 'prompts/prompt', locals: { prompt: prompt }  %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
