<p id="notice"><%= notice %></p>

<p>
  <strong>Concept:</strong>
  <%= @concept.name %>
  <%= link_to 'Edit', edit_concept_path(@concept) %>

  <form class="" action="<%= new_prompt_path %>" method="get">
    <input type="hidden" value="<%= @concept.id %>" name="concept_id">
    <input type="submit" value="Create a new prompt from this concept">
  </form>

</p>

<p>
  <strong>Related Prompts:</strong>
  <%= render @concept.prompts %>
</p>
