<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="<%= 'active' if request.original_fullpath == prompts_path %>">
      <a href="<%= prompts_path %>">
        Prompts
      </a>
    </li>
    <li class="<%= 'active' if request.original_fullpath == characters_path %>">
      <a href="<%= characters_path %>">
        Characters
      </a>
    </li>
    <li class="<%= 'active' if request.original_fullpath == concepts_path %>">
      <a href="<%= concepts_path %>">
        Concepts
      </a>
    </li>
    <% if user_signed_in? %>
      <li class="<%= 'active' if request.original_fullpath == logout_path %>">
        <a href="<%= logout_path %>">
          Log Out
        </a>
      </li>
    <% else %>
      <li class="<%= 'active' if request.original_fullpath == login_path %>">
        <a href="<%= login_path %>">
          Log In
        </a>
      </li>
      <li class="<%= 'active' if request.original_fullpath == new_user_path %>">
        <a href="<%= new_user_path %>">
          Sign Up
        </a>
      </li>
    <% end %>
  </ul>
</div>
